.main {
  --main-spacing: 4rem;
  --github-spacing: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--main-spacing);
  min-height: 100dvh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 6rem;
  text-align: center;
  gap: 8px;
}

.title {
  display: inline-block;
}

.github {
  padding: calc(var(--main-spacing) + var(--github-spacing));
  display: flex;
  gap: 1rem;
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 0;
}

.banner {
  padding: 2rem;
}

/* Mobile */
@media (min-width: 768px) {
  .main {
    --main-spacing: 6rem;
  }

  .center {
    padding: 4rem 0;
  }

  .github {
    justify-content: flex-start;
  }
}
